@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Inkulinati 210706";
  src: url("../../fonts/Inkulinati-Regular.eot");
  src: local("☺"), url("../../fonts/Inkulinati-Regular.woff") format("woff"), url("../../fonts/Inkulinati-Regular.ttf") format("truetype"), url("../../fonts/Inkulinati-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TAMAT";
  src: url("");
  src: local("☺"), url("../../fonts/TAMAT.woff") format("woff"), url("../../fonts/TAMAT.ttf") format("truetype"), url("../../fonts/TAMAT.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 545px;
          flex: 0 1 545px;
  font-size: 25px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 590px;
          flex: 0 0 590px;
}
.image img {
  width: 100%;
}

body {
  font-family: "Ruda", sans-serif;
  background-color: #1f1f1f;
}

.header {
  padding: 20px 0px;
  background-color: #141414;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  max-width: 150px;
  margin: 0px 250px 0px 210px;
}
.header__logo img {
  width: 100%;
}
.header__navigation {
  font-family: "TAMAT";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__navigation-menu a {
  font-size: 26px;
  color: #ffffff;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.header__navigation-menu a:hover {
  color: rgb(187, 59, 59);
}
.header__navigation-link {
  margin-right: 64px;
}
.header__navigation-link:last-child {
  margin-right: 0px;
}
.header__navigation .active a {
  color: rgb(187, 59, 59);
}

.dates {
  width: 100%;
  background-image: url(../img/bio/bio_back.jpg);
  background-size: cover;
  margin-bottom: 60px;
}
.dates__inner {
  padding: 56px 0px 67px 0px;
  height: 700px;
}
.dates__menu {
  height: 100%;
  font-family: "Inkulinati 210706";
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 260px;
     -moz-column-gap: 260px;
          column-gap: 260px;
  row-gap: 460px;
  color: #ffffff;
  -ms-grid-columns: 1fr 260px 1fr 260px 1fr;
  grid-template-columns: repeat(3, 1fr);
  font-size: 33px;
  -ms-grid-rows: 1fr 460px 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.dates__menu > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.dates__menu > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.dates__menu > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.dates__menu > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.dates__menu > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.dates__menu > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.dates__menu-link {
  white-space: nowrap;
  cursor: pointer;
}
.dates__menu-link a {
  color: #ffffff;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.dates__menu-link a:hover {
  color: rgb(187, 59, 59);
}
.dates__menu .nowadays-link {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.bio__start {
  border-top: 1px solid #ffffff;
  padding: 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bio__start-image {
  padding-right: 40px;
}
.bio__second {
  border-top: 1px solid #ffffff;
  padding: 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bio__second-image {
  padding-left: 40px;
}
.bio__third {
  border-top: 1px solid #ffffff;
  padding: 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bio__third-image {
  padding-right: 40px;
}
.bio__four {
  border-top: 1px solid #ffffff;
  padding: 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bio__four-image {
  padding-left: 40px;
}
.bio__nowadays {
  border-top: 1px solid #ffffff;
  padding: 60px 0px 96px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bio__nowadays-image {
  padding-bottom: 48px;
}
.bio__nowadays-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  text-align: end;
  padding: 40px 140px 40px 0px;
  font-size: 16px;
  color: #ffffff;
  background-color: #141414;
  font-family: "Inkulinati 210706";
}