@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Inkulinati 210706";
  src: url("../../fonts/Inkulinati-Regular.eot");
  src: local("☺"), url("../../fonts/Inkulinati-Regular.woff") format("woff"), url("../../fonts/Inkulinati-Regular.ttf") format("truetype"), url("../../fonts/Inkulinati-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TAMAT";
  src: url("");
  src: local("☺"), url("../../fonts/TAMAT.woff") format("woff"), url("../../fonts/TAMAT.ttf") format("truetype"), url("../../fonts/TAMAT.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "Ruda", sans-serif;
  background-color: #1f1f1f;
}

.header {
  padding: 20px 0px;
  background-color: #141414;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  max-width: 150px;
  margin: 0px 250px 0px 210px;
}
.header__logo img {
  width: 100%;
}
.header__navigation {
  font-family: "TAMAT";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__navigation-menu a {
  font-size: 26px;
  color: #ffffff;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.header__navigation-menu a:hover {
  color: rgb(187, 59, 59);
}
.header__navigation-link {
  margin-right: 64px;
}
.header__navigation-link:last-child {
  margin-right: 0px;
}
.header__navigation .active a {
  color: rgb(187, 59, 59);
}

.slider {
  position: relative;
  max-width: 100%;
  margin: 0px auto 96px auto;
}
.slider__wrapper {
  max-height: 700px;
  position: relative;
  overflow: hidden;
  background-color: #eee;
}
.slider__wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  opacity: 0.55;
}
.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  will-change: transform;
}
.slider__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}
.slider__btn {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 4rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slider__btn:hover, .slider__btn:focus {
  color: #fff;
  text-decoration: none;
  border: none;
  opacity: 0.7;
}
.slider .btn-prev,
.slider .btn-next {
  outline: none;
  background: transparent;
  position: absolute;
  top: 43%;
  z-index: 1;
}
.slider .btn-prev {
  left: 50px;
}
.slider .btn-next {
  right: 50px;
}
.slider__indicators {
  display: none;
}

.information {
  max-width: 555px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.information__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.information__title {
  margin: 0px;
  font-size: 31px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 32px;
}
.information__image {
  max-width: 400px;
  margin-bottom: 24px;
}
.information__image img {
  width: 100%;
}
.information__text {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
}

.footer {
  text-align: end;
  padding: 40px 140px 40px 0px;
  font-size: 16px;
  color: #ffffff;
  background-color: #141414;
  font-family: "Inkulinati 210706";
}