.header {
	padding: 20px 0px;
	background-color: #141414;
	&__inner {
		display: flex;
	}
	&__logo {
		max-width: 150px;
		margin: 0px 250px 0px 210px;
		img {
			width: 100%;
		}
	}
	&__navigation {
		font-family: "TAMAT";
		display: flex;
		align-items: center;
		&-menu {
			display: flex;
			justify-content: space-between;
			a {
				font-size: 26px;
				color: #ffffff;
				transition: color 0.2s ease-in-out;
				&:hover {
					color: rgb(187, 59, 59);
				}
			}
		}
		&-link {
			margin-right: 64px;
			&:last-child {
				margin-right: 0px;
			}
		}
		.active {
			a {
				color: rgb(187, 59, 59);
			}
		}
	}
}
