@import "./null";

@font-face {
	font-family: "Inkulinati 210706";
	src: url("../../fonts/Inkulinati-Regular.eot");
	src: local("☺"), url("../../fonts/Inkulinati-Regular.woff") format("woff"),
		url("../../fonts/Inkulinati-Regular.ttf") format("truetype"),
		url("../../fonts/Inkulinati-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "TAMAT";
	src: url("");
	src: local("☺"), url("../../fonts/TAMAT.woff") format("woff"), url("../../fonts/TAMAT.ttf") format("truetype"),
		url("../../fonts/TAMAT.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
body {
	font-family: "Ruda", sans-serif;
	background-color: #1f1f1f;
}
@import "./header";
.albums {
	&__title {
		font-family: "Inkulinati 210706";
		color: #ffffff;
		margin: 96px 0px 48px 123px;
		font-size: 33px;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
		grid-template-rows: repeat(auto-fill, minmax(300px, 300px));
		gap: 20px;
		justify-content: center;
		margin-bottom: 96px;
	}
	&__album {
		position: relative;
		&-image {
			max-width: 300px;
			img {
				width: 100%;
			}
		}
		&-info {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.75);
			top: 0;
			left: 0;
			right: 0;
			opacity: 0;
			.album__name {
				text-align: center;
				color: #ffffff;
				font-size: 19px;
				line-height: 22px;
				font-weight: 700;
				padding-bottom: 10px;
			}
			.album__date {
				font-size: 15px;
				text-align: center;
				color: #ffffff;
			}
		}
		transition: all 0.4s ease-in-out;
		&:hover &-info {
			opacity: 1;
			transition: all 0.4s ease-in-out;
		}
		&:hover {
			cursor: pointer;
		}
	}
}
@import "./footer";
